	<!--
<h2>Games</h2>
<div class="boardList">

{{#each games}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 media board shadow">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading"><a href="/board/{{ID}}">{{Name}}</a></h4>
		    This is a description of the board. It goes here.
		  </div>

		</div>
	</div>
{{/each}}

</div>

<div class="row">
		<div class="col-md-4 col-md-offset-5 media" id="addGame">
			<div class="media-left">
				<i class="large material-icons img">games</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">Add Game</h4>
		  </div>

		</div>
	</div>
-->
<div id="home_overview" contenteditable="true">
    {{{home_overview}}}
</div>
<h2>Boards</h2>
<div class="boardList">
{{#each boards}}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 media board shadow">
			<div class="media-left">
				<i class="large material-icons img">chat_bubble</i>
			</div>

			<div class="media-body">
				<h4 class="media-heading"><a href="/board/{{ID}}">{{Name}}</a></h4>
				{{Description}}
			</div>

		</div>
	</div>
{{/each}}
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-5 media clickable" id="addBoard">
			<div class="media-left">
				<i class="large material-icons img">note_add</i>
			</div>

		  <div class="media-body">
		     <h4 class="media-heading">Add Board</h4>
		  </div>

		</div>
	</div>

<script type="handlebars" id="boardModal">
<div class="modal-header">
{{log game}}
	{{#if game}}<h3>Add a game</h3>
	{{else}}<h3>Add a board</h3>{{/if}}
</div>
<div class="modal-body">
	<form>
	<div class="alert alert-danger" role="alert" hidden="true"></div>
	<div class="alert alert-success" role="alert" hidden="true"></div>
	<div class="form-group">
		<label for="name">{{#if game}}Game{{else}}Board{{/if}} name:</label><input type="text" class="form-control" name="name" value="{{name}}"><br/>
		<label for="description">Description:</label><textarea class="form-control" name="description">{{description}}</textarea><br/>
		<div class="checkbox">
			<label for="adult">
				<input type="checkbox" name="adult" {{#if adult}}checked{{/if}}> Adults Only
			</label>
		</div>
		<input type="submit" class="form-control" id="submitModal">
	</div>
	</form>
</div>
</script>
<script src="/static/js/boards.js"></script>
<script src="/static/js/newBoard.js"></script>
<script src="/static/js/home.js"></script>

<div class="modal fade" id="bsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
